@font-face
{
    font-family:"Minecraft";
    src: url("/SiteMinecraft/css/font.ttf") format("truetype")
}

body {
    margin: 0; /* Pour ne pas avoir de bande blanche autour*/
    background-color: rgb(220, 220, 220); /* Sorte de gris*/
}

.Accueil{
    background-size: contain;
    height: auto;
    background-position-y: 0cm;
    text-align: center;
    margin: 0;
    
    width: 100%;
}

.h1Accueil /* Le titre Minecraft, en gris, avec de l'ombre*/
{
    font-size: 300% ;
    font-family: "Minecraft";
    color: rgb(126, 126, 126);
    text-shadow: 0 3px rgb(0, 0, 0);
    margin: 0;
}

h1{
    text-align: center;
    font-size: 2em;
    margin: 0;
}

p.sous-titre {
    text-align: center;
    font-size: 1.5em;
}

nav ul
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

ol {
    padding:0 7.5% 0 7.5%;
}

a:link,a:visited,a:hover /* Les boutons de lien */
{
    background-color: gray;
    border: groove black 0.1cm;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
}

a:hover
{
    background-color:rgb(80, 80, 80);
}

aside {
    background-color: rgb(255, 255, 153);
    padding: 10px;
    
}

aside h1 {
    margin-top: 0;
    font-size: 1.5em;
}

footer
{
    background-color: lightgreen;
    margin-bottom: 0;
}

footer a.bouton 
{
    color: white;
    cursor:pointer;
    display: inline-block; 
    border: solid 1px #0011ff; 
    padding: 5px; 
    position: fixed;
    right: 0;
    bottom: 0;
}

@media screen and (min-width: 960px){
    ul li.listeGrandBouton{
        width: 100%;
    
    }
    a.grandBouton{
        width: 500px;
        padding: 14px 0 14px 0;
        margin: 0.2cm;
    }
    a.petitBouton{
        width: 240px;
        padding: 14px 0 14px 0;
        margin: 0.2cm;
    }
    section.Accueil{
        background: url("/SiteMinecraft/Images/fond.jpg") no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 15%;
        padding-top: 10%;
    }
    .h1Accueil{
        padding-bottom: 5%;
    }
    nav ul {
        justify-content: center;
    }
}

/* Format telephone en mode portrait */
@media screen and (max-width: 479px){
    section.Accueil{
        background: none; 
        background-color: green;
        background-position-y: 0cm;
        text-align: center;
        position: fixed; /* Pour voir la barre même si on descend */
        top: 0; /* Pour que la barre soit fixee en haut */
    }
    ul{
        margin: 0;
        padding: 0 5% 0 5%;
    }
    nav ul {
        background-color: brown;
        margin-top: 10px;
    }
    a{
        margin: 0;
        padding: 0;
    }
    img {
        max-width: 300px;
        max-height: 200px;
        display: block;
        margin: auto;
    }
    nav ul li .grandBouton {
        width: 1px;
    }
    .h1Accueil{
        width: auto;
        color: gray;
        margin: 0;
    }
    section.contenu{
        margin: 10px;
        padding-top: 85px;
    }
    footer p {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

/* Format telephone en paysage ou tablette en portrait */
@media screen and (min-width: 480px) and (max-width: 959px) {
    body{
        display: flex;
        flex-direction: column;
    }
    body nav {
        width: 100%;
        max-width: 100px;
        
        background-color: brown;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        min-height: 50vh;
    }
    section.contenu {
        padding-top: 60px;
        margin-left: 110px;
    }
    ol {
        padding: 0 10px 0 10px;
    }
    section.Accueil{
        flex-wrap: wrap;
        position: fixed; /* Pour voir la barre même si on descend */
        top: 0; /* Pour que la barre soit fixee en haut */
    }
    section.Accueil a{
        width: 90%;
        padding: 14px 2px;
    }
    section.Accueil .h1Accueil{
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: green;
    }
    img { /*Centre les images et les empeche d'etre trop grande */
        max-width: 400px;
        max-height: 300px;
        text-align: center;
        display: block;
        margin: auto;
    }
}