@font-face
{
    font-family:"Minecraft";
    src: url("/SiteMinecraft/css/font.ttf") format("truetype");
}
@font-face {
    font-family: "McLivre";
    src: url("/SiteMinecraft/css/Minecraftia.ttf") format("truetype");
}
body {
    margin: 0; /* Pour ne pas avoir de bande blanche autour*/
    background-color: rgb(220, 220, 220); /* Sorte de gris*/
}

header{
    background-size: contain;
    height: auto;
    background-position-y: 0cm;
    text-align: center;
    margin: 0;
    width: 100%;
}

.h1Accueil /* Le titre Minecraft, en gris, avec de l'ombre*/
{
    font-size: 300% ;
    font-family: "Minecraft";
    color: rgb(126, 126, 126);
    text-shadow: 0 3px rgb(0, 0, 0);
    margin: 0;
}

h1{
    text-align: center;
    font-size: 2em;
    margin: 0;
}

p.sous-titre {
    text-align: center;
    font-size: 1.5em;
}

nav ul
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    font-family: "McLivre";
}

ol {
    padding:0 7.5% 0 7.5%;
}

a:link,a:visited,a:hover /* Les boutons de lien */
{
    background-color: gray;
    border: groove black 0.1cm;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

img {
    display: block;
    margin: auto;
}

a:hover
{
    background-color:rgb(80, 80, 80);
}

aside {
    background-color: rgb(255, 255, 153);
    padding: 10px;
    
}

aside h1 {
    margin-top: 0;
    font-size: 1.5em;
}

footer
{
    background-color: lightgreen;
    margin-bottom: 0;
}

footer a.bouton 
{
    color: white;
    cursor:pointer;
    display: inline-block; 
    border: solid 1px #0011ff; 
    padding: 5px; 
    position: fixed;
    right: 0;
    bottom: 0;
}


/* Format ordinateur */
@media screen and (min-width: 960px){
    ul li.grandBouton{
        width: 100%;
    }
    .h1Accueil
    {
        color: gray;
    }
    a{
        padding: 14px 25px;
        margin: 0.2cm;
    }
    header{
        position: fixed;
        top: 0px;
        left: 0px;
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center; 
        background-image:url("/SiteMinecraft/Images/obsidienne.jpg") ;
    }
    header ul li a:hover{  
        background-color:rgb(80, 80, 80);
    }
    ol
    {
        list-style: none;
    }
    .titre
    {
        text-align: center;
        color: rgb(0, 136, 255);
    }
    p{
        text-align: center;
        color: black;
    }
    img
    {
        max-width: 400px;
        max-height: 300px;
        text-align: center;
    }
    .liste
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section
    {
        padding: 120px;
    }
    footer
    {
        background-color: rgb(38, 38, 169);
    }
    .lien
    {
        
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    .lien:hover
    {
        color:rgb(80, 80, 80);
    }
    }

/* Format telephone en mode portrait */
@media screen and (max-width: 479px){
    header{
        background: none; 
        background-image: url("/SiteMinecraft/Images/obsidienne.jpg");
        background-position-y: 0cm;
        text-align: center;
        position: fixed; /* Pour voir la barre même si on descend */
        top: 0; /* Pour que la barre soit fixee en haut */
    }
    ul{
        margin: 0;
        padding: 0 5% 0 5%;
    }
    nav ul {
        background-color: rgb(190, 190, 190);
        margin-top: 10px;
    }
    a{
        margin: 0;
        padding: 0;
    }
    img {
        max-width: 300px;
        max-height: 200px;
    }
    nav ul li .grandBouton {
        width: 1px;
    }
    .h1Accueil{
        width: auto;
        color: gray;
        margin: 0;
    }
    section.contenu{
        margin: 10px;
        padding-top: 95px;
    }
    footer p {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

/* Format telephone en paysage ou tablette en portrait */
@media screen and (min-width: 480px) and (max-width: 959px) {
    body{
        display: flex;
        flex-direction: column;
    }
    body nav {
        width: 100%;
        max-width: 100px;
        
        background-color:rgb(190, 190, 190);
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        min-height: 50vh;
    }
    section.contenu {
        padding-top: 60px;
        margin-left: 110px;
    }
    ol {
        padding: 0 10px 0 10px;
    }
    header{
        flex-wrap: wrap;
        position: fixed; /* Pour voir la barre même si on descend */
        top: 0; /* Pour que la barre soit fixee en haut */
    }
    header a{
        width: 90%;
        padding: 14px 2px;
    }
    header .h1Accueil{
        align-items: center;
        justify-content: center;
        width: 100%;
        background-image: url("/SiteMinecraft/Images/obsidienne.jpg");
    }
    img { /*Centre les images et les empeche d'etre trop grande */
        max-width: 400px;
        max-height: 300px;
        text-align: center;
    }
    
}