@font-face
{
    font-family:"Minecraft";
    src: url("font.ttf") format("truetype")
}

body {
    margin: 0;
}

.Accueil{
    background: url("../Images/fond.jpg") fixed no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
    background-position-y: 0cm;
    text-align: center;
    margin: 0;
}

.h1Accueil
{
    font-size: 300% ;
    font-family: "Minecraft";
    color: rgb(126, 126, 126);
    text-shadow: 0 3px rgb(0, 0, 0);
    margin: 0;
}

h1{
    text-align: center;
    font-size: 2em;
}

.petitBouton
{
    display: flex;
    flex-direction: row;
    align-self:flex-start; 
}

ul
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}



a:link,a:visited,a:hover
{
    background-color: gray;
    border: groove black 0.1cm;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

a:hover
{
    background-color:rgb(80, 80, 80);
}

footer
{
    background-color: lightgreen;
}

@media screen and (min-width: 480px){
    ul li.grandBouton{
        width: 100%;
    
    }
    a{
        padding: 14px 25px;
        margin: 0.2cm;
    }
}

/* Format telephone en mode portrait */
@media screen and (max-width: 479px){
    section.Accueil{
        background: none; 
        background-color: green;
        background-position-y: 0cm;
        text-align: center;
    }
    ul{
        margin: 0;
        padding: 0;
        background-color: brown;
    }
    a{
        margin: 0;
        padding: 0;
    }
    ul li .grandBouton {
        width: 1px;
    }
    .h1Accueil{
        height: 10vh;
        width: auto;
        color: gray;
        margin: 0;
    }

}